nav{
    width: 100%;
    /* background: #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;


}
.logo{
    width: 40px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.btn{
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: o;
    outline: 0;
}
.dark-nav{
    background: #212ea0;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}
/*   media querry */
@media (max-width:1000px){
    .logo{
        width: 70px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}
@media (max-width:840px){
    nav{
        padding: 15px 0;
        
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212EA0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: flex;
        margin: 25px ;
        

    }
    .menu-icon{
       display: flex;
       width: 20px;
       cursor: pointer;
       position: fixed;
       right: 0;
       
        
    }
    .hide-mobile-menu{
        right: -200px;
    }
    .logo{
        width: 50px;
    }


}